body[data-theme="dark"] {
  --color-bg:#62254d;
  --color-fg: white;
  --color-button-bg: #FDCB1E;
  --color-button-fg: black;
  --color-button-hover: white;
  --color-button-hover-text: black;
  --color-modal-bg: #872932;
  --color-modal-bg2: #872932;
  --color-faq:  #E7B268;
  --color-modal-button: #FDCB1E;
  --color-border:transparent;
  --color-item: #eaa2c0;
  --color-toggle: white;
}

body[data-theme="light"] {
  --color-bg: #b4c7e7;
  --color-fg: #000000;
  --color-button-bg: #b4c7e7;
  --color-button-fg: white;
  --color-button-hover: white;
  --color-button-hover-text: black;
  --color-modal-bg: #b4c7e7;
  --color-modal-bg2: #594B6F;
  --color-faq:  #594B6F;
  --color-modal-button: #594B6F;
  --color-border:black;
  --color-item: #b4c7e7;
  --color-toggle: #b4c7e7;
}

body {
  data-theme:"dark";
  margin: 0;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
}