.root {
    font-size: xxx-large;
    border: 1px transparent;
}
.item{
    color: black;
    border: 1px transparent;
    outline: 2px solid var(--color-border);
    font-size: xx-large;
    text-align: left;
    background-color: var(--color-item);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.control{
    border: 1px transparent;
    outline: 2px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-modal-bg);
    color: var(--color-fg);
    font-size: xx-large;
    &[data-active] {
        color: black;
        background-color: white;
    }
}
.control:hover{
    border: 1px transparent;
    color: black;
    font-size: xx-large;
}
