.mob-navbar-li {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}
.mob-navbar-li:hover {
    opacity:0.5;
}
.navbar-photo {
  /*padding: 25%;*/
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
}
.navbar-photo-mob {
    /*padding: 25%;*/
    padding-top: 10%;
    padding-bottom: 10%;
    width: 90%;
}

.mob-navlink{
    text-decoration: none;
    color: white;
}
.mob-menu-class {
    padding: 0;
    list-style-type: none;
}

#mob-menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#mob-menuToggle input
{
    display: flex;
    width: 15px;
    height: 15px;
    margin:10px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#mob-menuToggle span
{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#mob-menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#mob-menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#mob-menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}
#mob-menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#mob-menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#mob-menu
{
    position: absolute;
    width: 25vh;
    height: 110vh;
    box-shadow: 0 0 10px #85888C;
    margin: -175px 0 0 -50px;
    padding-top: 220px;
    background-color: #872932;
    -webkit-font-smoothing: antialiased;
    padding-left: 50px;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: left;
}

#mob-menu li
{
    padding: 10px 0;
    color: white;
    transition-delay: 2s;
}

#mob-menuToggle input:checked ~ ul
{
    transform: none;
}

.mantine-Drawer-content	{
    background: #62254D;
}

.mantine-Drawer-root{
    background: #62254D;
}
.mantine-Drawer-header{
    background: #62254D;
}
.mob-burger-bar{
    background: #62254D;
    position: static;
    padding-bottom: 3%;
    padding-top: 2%;
}

.drawer-mob-menu-class {
    margin-top: 200px;
    padding: 0;
    list-style-type: none;
}

.drawer-mob-navbar-li {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
    padding-bottom: 15%;
}
.drawer-mob-navbar-li:hover {
    opacity:0.5;
}
.mob-page-title{
    width: 90%;
    z-index: 0;
}

.topBar-mob {
    background: #62254D;
}

.header-mob {
    list-style: none;
    display: flex;
    padding-top: 5px; /* Adjust the padding to create space below the navbar */
    padding-left: 15px; /* Adjust the padding to create space below the navbar */
    padding-right: 15px; /* Adjust the padding to create space below the navbar */
    justify-content: space-between;
    font-size: 15px;
    /*font-weight: bold;*/
    font-family: "Apple LiSung", serif;
}

.navbar-li-mob {
    margin: 0;
}

.title-mob {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: "Apple LiSung", serif;
}
