.rsvp-form-div {
    padding: 5%;
}

.rsvp-form-container {
    border-radius: 20px;
    background-color: var(--color-modal-bg);
    color: white;
    padding: 10px;
    position: static;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100vh;
    box-shadow: 5px 5px 10px #494949;
}

.rsvp-form-submit {
    justify-content: center;
}

.rsvp-title {
    padding: 5%;
}
.rsvp-radio-buttons{
    justify-content: space-evenly;
    display: flex;
}

.rsvp-submit-div{
    padding-top:5%
}

.rsvp-submit-again-button {
    background-color: #FDCB1E;
    margin-top:10%;
    color: black;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], input[type=email], select, textarea{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family:  serif ;
    font-size: Large;
}

/*input[type=radio]{*/
/*    height: 35px;*/
/*    width: 35px;*/
/*    margin: auto;*/
/*}*/
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 40px;
    height: 40px;
}

input[type='radio']:checked {
    background: #333;
}

.rsvp-radio-label{
    /*margin-right: 25%;*/
}

input[type=checkbox]{
    transform: scale(3);
    float: left;
    margin-top: 3%;
    margin-left: 2%;
}

textarea{
    font-family: serif ;

}

label {
    float: left;
    margin-left: 3%;
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: "AppleMyungjo", serif ;
    font-size: Large;
    font-weight: bold;
}

button[type=submit] {
    background-color: var(--color-modal-button);
    color: var(--color-button-fg);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rsvp-add-person-button {
    background-color: var(--color-modal-button);
    color: var(--color-button-fg);
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rsvp-button {
    background-color: var(--color-faq);
    color: var(--color-button-fg);
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.rsvp-add-person-button:hover {
    background-color: #EC3F13;
    color: white;
}
.rsvp-delete-person-button{
    float :right;
    width: 50px;
    background-color: var(--color-modal-bg);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: var(--color-button-hover);
    cursor: pointer;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top:10px ;
}

.rsvp-delete-person-button:hover{
    background-color: white;
    color: black;
}


button[type=submit]:hover {
    background-color: #EC3F13;
    color: white;
}

.rsvp-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.rsvp-col-75 {
    float: left;
    width: 55%;
    margin-top: 6px;
}
.rsvp-row{
    min-height: 75px;

}

/* Clear floats after the columns */
.rsvp-row:after {
    content: "";
    display: table;
    clear: both;
}

.rsvp-add-person-button-div{
    padding-top: 2%;
    padding-bottom: 2%;
}

.rsvp-nested-respondents{
    padding-top: 1%;
    padding-bottom: 2%;
}
.rsvp-nested-respondent{
    border-radius: 20px;
    border: 3px solid #ccc;
    padding-top: 3%;
    padding-bottom: 3%;
}
.rsvp-nested-respondent-wrapper{
    padding-top: 1%;
    padding-bottom: 1%;
}
/* TOGGLE STYLING */
.rsvp-starter-toggle {
    /*margin: 0 0 1.5rem;*/
    width: 95%;
    margin-left: 3%;
    box-sizing: border-box;
    font-size: 0;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.rsvp-starter-toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}
.rsvp-starter-toggle input + label {
    margin: 0;
    padding: 0.75rem 2rem;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
    /* ----- */
}
.rsvp-starter-toggle input + label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}
.rsvp-starter-toggle input + label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}
.rsvp-starter-toggle input:hover + label {
    border-color: #213140;
}
.rsvp-starter-toggle input:checked + label {
    background-color: #4B9DEA;
    color: #FFF;
    box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
    border-color: #4B9DEA;
    /*z-index: 1;*/
}
.rsvp-starter-toggle input:focus + label {
    outline: dotted 1px #CCC;
    outline-offset: 0.45rem;
}
@media (max-width: 800px) {
    .rsvp-starter-toggle input + label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
    }
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .rsvp-col-25, .rsvp-col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
