/* styles.css */

nav {
    /*padding: 20px;*/
}


.navbar-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "apple lisung";
    font-size: large
}
.navbar-li {
    margin: 0;
}

.title {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: "Apple LiSung", serif;
}


.topBar {
   /*background-image:url("../static/sunset-website.jpeg") ;*/
    /*background-color: #E2725A;*/
    background: #62254D;
}

.footer{
    border-top: 1px solid white;
    padding-bottom: 5%;
    height: 5vh;
}

.homePhoto{
    max-width: 100%;
    height: auto;
    width: auto;
}
.homePhoto2{
    max-width: 100%;
    height: auto;
    width: auto;
    padding-bottom: 10%;
}

.homeTitle{
    padding: 25%;
    font-size: xxx-large;
    height: auto;
    width: auto;
}

.itPhoto{
    max-width: 50%;
    float: left;
    margin: auto;
}

.it-photo-mob{
    max-width: 80%;
    margin: auto;
}
.itinerary-text-mob {
    margin-right: 10%;
    margin-left: 10%;
}

.itinerary-entry{
    overflow: auto;
    padding-top: 2%;
}
.itinerary-entries{
    padding-top: 3%;
}

.itinerary-entry-child{
        width: 50%;
        float: left;
        padding-top: 1%;
        padding-bottom: 1%;
}

.embedded-map{
    padding-top: 10%;
    float: left;
    padding-left: 3%;
}

.dirPhoto{
    max-width: 25%;
    max-height: 40%;
    padding-top: 9%;
    padding-right: 3%;
    float: right;
}

.white-border-left{
    border-left: 1px solid white;
}
.white-border-right{
    border-right: 1px solid white;
}

.link {
    color: #FFF;
    text-decoration: none;
}


.header {
    list-style: none;
    display: flex;
    padding-top: 10px; /* Adjust the padding to create space below the navbar */
    padding-left: 15px; /* Adjust the padding to create space below the navbar */
    padding-right: 15px; /* Adjust the padding to create space below the navbar */
    justify-content: space-between;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: "Apple LiSung", serif;

}


.content {
    /*padding-top: 12%; !* Adjust the padding to create space below the navbar *!*/
    overflow: auto;
    font-family: "Apple LiSung";
    position: relative;
    top: 200px;
    min-height: calc(100vh - 170px);
}


.page {
    text-align: center;
    color: white;
    white-space: pre-wrap;
    min-height: 100vh; /* or the minimum height of your content */
    display: flex;
    flex-flow: column nowrap;
}

html, body {
    height: 100%;
    width: 100%;

    /*background: #e7b4c6;*/
    background: #62254D;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.divBar {
    z-index: 999;
    position: fixed;
    width: 100%;

}
.treb-house{

}
.treb-house-mob{
    padding-bottom: 10%;
}

.embedded-map-mob{
    padding-bottom: 10%;
}

.dir-text-mob{
    margin-left: 10%;
    margin-right: 10%;
}

.treb-photo{
    width: 100%;
    height: auto;


}

.navb {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    /*position: fixed;*/
    width: 100%;
    overflow: hidden;
    background: #62254D;

}

.navb ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 1em;
    list-style-type: none;
}


.navb ul a {
    color: white;
    text-decoration: none;
    /*font-family: inter;*/
    padding: 1em;
}

.navb ul a:hover {
    border-bottom: 3px solid white;
}

.active {
    color: #995D6A;
}
.itinerary-text{
    Color: white;
    margin-top: 10%
}

.itinerary {
    padding-top: 5%; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 5%;
}
.directions {
    overflow: hidden;
    padding-bottom: 10%;
}
.dir-text{
    margin-top:8%;
    display: block;
    text-align: left;
    margin-left: 50%;
    margin-right: 10%;
    font-size: 135%;

}
.accommodation {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.registry{
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.registry-wrap-mob{
    margin-right: 10%;
    margin-left: 10%;
}
.faqs {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.rsvp {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}


.itInnerList{
    width:150%
}

.mantine-Drawer-content	{
    background: #62254D;
}

.home-photo-mob-1{
    max-width: 100%;
    height: auto;
    width: auto;
}

.home-photo-mob-2{
    max-width: 100%;
    height: auto;
    width: auto;
}
