/* styles.css */

nav {
    /*padding: 20px;*/
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "Apple LiSung";
    font-size: large}

li {
    margin: 0;
}

.title {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: "Apple LiSung", serif;
}

.topBar {
   /*background-image:url("../static/sunset-website.jpeg") ;*/
    /*background-color: #E2725A;*/
    background: #62254D;
}

.footer{
    border-top: 1px solid white;
    padding-bottom: 5%;


}

.homePhoto{
    max-width: 80%;
    height: auto;
    width: auto;
}
.homePhoto2{
    max-width: 80%;
    height: auto;
    width: auto;
    padding-bottom: 10%;
}

.homeTitle{
    padding: 25%;
    font-size: xxx-large;
    height: auto;
    width: auto;
}

.itPhoto{
    max-width: 25%;
    max-height: 40%;
    padding-top: 6%;
    float: left;
}

.itinerary-entry{
    overflow: auto;
    padding-top: 2%;
}
.itinerary-entries{
    padding-top: 3%;
}

.itinerary-entry-child{
        width: 50%;
        float: left;
        padding-top: 1%;
        padding-bottom: 1%;
}

.dirPhoto{
    max-width: 25%;
    max-height: 40%;
    padding-top: 6%;
    padding-right: 3%;
    float: right;
}

.white-border-left{
    border-left: 1px solid white;
}
.white-border-right{
    border-right: 1px solid white;
}


.header {
    padding-top: 10px; /* Adjust the padding to create space below the navbar */
    padding-left: 15px; /* Adjust the padding to create space below the navbar */
    padding-right: 15px; /* Adjust the padding to create space below the navbar */
    justify-content: space-between;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: "Apple LiSung", serif;

}


.content {
    /*padding-top: 12%; !* Adjust the padding to create space below the navbar *!*/
    overflow: auto;
    font-family: "Apple LiSung";
}


.page {
    text-align: center;
    color: white;
    white-space: pre-wrap;

}
html, body {
    height: 100%;
    width: 100%;

    /*background: #e7b4c6;*/
    background: #62254D;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.divBar {
    position: fixed;
    width: 100%;

}

.navb {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    /*position: fixed;*/
    width: 100%;
    overflow: hidden;
    background: #62254D;

}

.navb ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 1em;
    list-style-type: none;
}


.navb ul a {
    color: white;
    text-decoration: none;
    /*font-family: inter;*/
    padding: 1em;
}

.navb ul a:hover {
    border-bottom: 3px solid white;
}

.active {
    color: #995D6A;
}

.itinerary {
    padding-top: 12%; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.directions {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.accommodation {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.registry{
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.faqs {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}
.rsvp {
    padding-top: 100px; /* Adjust the padding to create space below the navbar */
    overflow: hidden;
    padding-bottom: 10%;
}

.itInnerList{
    width:150%
}
