/* styles.css */

nav {
    background-color: #681c03;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0;
}

a {
    text-decoration: green;
    color: white;
}
.active {
    background-color: black;
}
.title {
    background-color: #681c03;
    text-align: center;
    color: white;
}

.topBar {
    background-color: #681c03;
}

.content {
    padding: 100px; /* Adjust the padding to create space below the navbar */
}
